<div class="container">
  <%@articles.each do |article| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">

        <%# Using bootstrap card%>
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if article.user %>
              by <%= link_to article.user.username, user_path(article.user)  %>
            <% end %>
            <% if article.categories.any? %>
              <%# the following render expect a category partial %>
              <div class="mt-2"><%= render article.categories %></div>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>
            <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
            <%# Note: logged_in? and current_user are methods helper in application_controller.rb %>
            <% if logged_in? && (article.user == current_user || current_user.admin?) %>
              <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
              <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?" } %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <%# handy method (time_ago_in_words) rails provides to format date, more user friendly%>
            <small>Created <%= time_ago_in_words(article.created_at) %> ago, 
            edited <%= time_ago_in_words(article.updated_at) %> ago</small>
          </div>

        </div>
      </div>
    </div>
    
  <% end %>
</div>


<%# Replace the code below with new one using bootstrap above%>
<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%@articles.each do |article| %>
      <tr>
        <th><%=article.title%></th>
        <th><%=article.description%></th>
        <th><%=link_to 'Show', article_path(article)%></th>
        <%# 
             can look at the path using with command rails routes --expanded 
             to use need to append _path at the end 
        %> 
        <th><%=link_to 'Edit', edit_article_path(article)%></th>
        <%# Add a javascript confirmation before delete with -> data: {confirm: "Are you sure?" } %>
        <th><%=link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?" }%></th>
      </tr>
    <%end%>
  </tbody>
</table>
<p>
  <%=link_to 'Create new article', new_article_path%>
</p>
-->